<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>404-Oops</title>
    <style>
body{
    font-family: 'Poppins', sans-serif;
    max-width: max-content;
    margin: 0 auto;
    
}
a{
    display: inline-block;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid transparent;
   transition: border-bottom .5s;
}

a:hover{
    border-bottom :1px solid black;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
    </style>
</head>
<body>
    <div class="container">
<h1>Oops, did you mean to go somewhere else? </h1>
<p><a href="/sweets">Click here to go to main page</a></p>
</div>
</body>
</html>